@tailwind preflight;
@tailwind components;
@tailwind utilities;

/* custom styles */
#nav-menu > ul > li:not(:first-child) {
  margin-left: 2em;
}

/* video holder/hero */

/* Hero Section spanning full-width holding video */
#heroSection {
  background: url(./img/space-invaders.jpg) top left no-repeat, url(./img/gamer.jpg) top right no-repeat;
  background-size: contain;
}

#videoWrapper {
  position: relative;
  height: 500px;
  overflow: hidden;
  max-width: 100%;
}

#videoWrapper > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#videosList {
  min-height: 500px;
}

/* UL holding the items returned from the rest call */
#streamsUl > li {
  width: 400px;
}


/* game/channel name truncation for long titles */
.truncate {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
